@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
    background: #B18EED;
    font-family: "Acme", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.titulos {
    color: #FFF;
    text-align: center;
    background: #036;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}
.principal {
    width: calc(100vw - 30px);
    height: calc(100vh - 151px);
    display: flex;
}
.contenedor {
    border-radius: 15px;
}
.contenedor-1{
    margin: 0 15px;
    background: #98FF98;
    width: 30%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    article {
        margin: 5px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }
    .articulo-1, .articulo-2{
        color: #FFF;    
        width: 260px;
        height: 140px;
    }
    .articulo-3, .articulo-4{
        width: 160px;
        height: 150px;
    }
    .articulo-1{
        background: #036;
    }
    .articulo-2{
        background: #F5C518;
    }
    .articulo-3{
        background: #FFF;
    }
    .articulo-4{
        background: #FFF;
    }
}
.contenedor-2{
    width: 70%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    gap: 15px;
    color: #FFF;
    article {
        border-radius: 15px;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
            border-radius: 15px;
        }
    }
}
.articulo-1 {
    background: #D3D3D3;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    .articulo-1-1, .articulo-1-2{
        width: 350px;
        height: 100px;
        margin: 5px;
    }
    .articulo-1-1{
        background: #F5C518;
    }
    .articulo-1-2{
        background: #98FF98;
    }
}
.articulo-2{
    background: #F5C518;
    width: 47%;
    height: 60%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    .articulo-2-1{
        margin: 5px;
        background: #98FF98;
        width: 296px;
        height: 120px;
    }
    .articulo-2-2, .articulo-2-3{
        width: 150px;
        height: 150px;
        margin: 5px;
        background: #D3D3D3;
    }

}
.articulo-3 {
    background: #FFF;
    width: 47%;
    height: 60%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    .op-1{
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        div{
            width: 100%;
            height: 80px ;
            margin: 5px;
        }
        .articulo-3-1{
            background: #036;
        }
        .articulo-3-2{
            background: #98FF98;
        }
        .articulo-3-3{
            background: #F5C518;
        }
    }
    .op-2 {
        width: 140px;
        .articulo-3-4{
            background: #D3D3D3;
            width: 100%;
            height: 250px;
        }
    }
}

@media(width <= 1200px){
    .contenedor-1 .con-1{
        height: 20%;
        transition: .5s;
    }
}
@media(width <= 1025px){
    .principal {
        width: calc(100vw - 50px);
    }
    .contenedor-1 .con-1{
            border-radius: 25px;
        
    }
    .articulo-1 .articulo-1-1, .articulo-1-2{
        border-radius: 25px;    
    }
    .articulo-2 .con-2{
        border-radius: 25px;
        height: 30%;
        transition: .5s;
        
    }
    .articulo-3 .op-2, .op-1{
        .con-3{
            border-radius: 25px;
            height: 30%;
            width: 105px;
            transition: .5s;
        }
        .articulo-3-4{
            height: 70%;
        }
    }
}